<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planora</title>
</head>
<body>
    <h2>Edit Your Listing</h2>
    <form method="post" action="/listings/<%= listing._id %>?_method=PUT">
        <input type="text" value="<%= listing.title %>" placeholder="Enter Titile" id=""><br><br>
        <textarea name="listing[description]" id=""><%= listing.description %></textarea><br><br>
        <input type="text" value="<%= listing.image %>" id="" placeholder="Enter Image URL/Link"><br><br>
        <input type="number" value="<%= listing.price %>" id="" placeholder="Enter Price"><br><br>
        <input type="text" value="<%= listing.location %>" id="" placeholder="Enter Location"><br><br>
        <input type="text" value="<%= listing.country %>" id="" placeholder="Enter Country"><br><br>
        <button>EDIT</button>    
    </form>
</body>
</html>